<!--
这篇文章是我第一次通过AJAX调用json数据时写的，因为网络上大部分文章解释不太清楚，代码不规范，
导致很多新人调用时出现各种问题，在此特意写了这篇博客供新人学习，如有错误或疑问欢迎留言
-->
 
<!DOCTYPE "文档数据库更新">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
</head>
<!--将表格内容显示到网页中来-->
<body>
        <form action="" method="Get">
                <input type="submit" text = "刷新库" style="margin-top:10px;"/>
        </form>>
        <p>{{updat_status}}</h2>
</body>
 
</html>
 
<!--注意：调用数据要在服务器上运行，如果在本地直接打开是无法进行json调用的，建议在编译器里用Tomcat尝试打开-->